.pauseButton {
  background: #F4F4F6;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px #525252;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #e6e6e6;
    box-shadow: 0px 0px 3px 0px #525252;
  }
}

